<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css" />

    <title>Document</title>

</head>
<body>
<h2>Works</h2>

<p>Gabriel García Márquez's novels include:</p>
    <ul>
        <li>In Evil Hour (1962)</li>
        <li>One Hundred Years of Solitude (1967)</li>
        <li>The Autumn of the Patriarch (1975)</li>
        <li>Love in the Time of Cholera (1985)</li>
        <li>The General in His Labyrinth (1989)</li>
        <li>Of Love and Other Demons (1994)</li>
    </ul>
</body>
</html>